<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css')}}">
	</head>

	<body>
		<div id="bar">
			<h1 id="title">Big 6 Sport Goods</h1>
			<span><button onclick="location.href='{{url_for('login')}}'">Login</button></span>
		</div>
		<br>
		<section id="info">
		<div id="category">
		<h1>Categories</h1>
		<ul>
			{% for i in category %}
					<li><h3><a href='{{url_for('categoryMainMenu',category_id = i.id)}}'>{{i.sport}}</a></h3></li>
			{% endfor %}
		</ul>
		</div>
		<div id="items">
			<h1>Latest Items</h1>
			<ul>
			{% for i in items %}
					<li><h3><a href ='{{url_for('categoryMenu',category_id = i.id, menu_item_id = i.id)}}'>{{i.name}} ({{i.price}})</a></h3></li>
				
			{% endfor %}
			</ul>
		</div>
		</section>
	</body>

</html>